* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Avenir;
    src: url(../Avenir\ Next\ LT\ Pro\ Regular.otf);
}

body {
    background-image: url('../img/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: bold;
    font-family: 'Helvetica bold';
}

.subTitle {
    position: absolute;
    top: 60vw;
}

.join-btn {
    width: 60%;
    margin: -11px auto;

}

.pagecontent {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding: 11vw 0 11vw;
    font-style: italic;
}

.yellow-color {
    color: yellow;
    font-size: 3.8vw;
}

.info {
    color: white;
    font-size: 3.8vw;
    background-image: url('../img/text-bg1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 4vw;
    font-family: 'Helvetica bold';
}

.mb {
    margin-bottom: 7vw;
}

.mtb {
    margin-bottom: 2vw;
}

.bottom-text {
    color: white;
    font-size: 3.8vw;
    background-image: url('../img/text-bg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 4vw;
    font-family: 'Helvetica bold';
}

button {
    border: none;
    outline: none;
    background: none;
}

footer {
    font-family: 'Helvetica bold';
    color: white;
    margin: 0 auto;
}

.note {
    text-align: center;
    color: yellow;
    margin-top: 2vw;
    margin-bottom: 4vw;
    /* font-size: 5vw; */
}